<h1>
  Add a new account
</h1>


<hr>

<!-- Form account start -->
<form action="/create_account" method="post">
<!-- Form account end -->

  <!-- Label and input for supplier_id start -->
  <div class="form-group">
    <label for="supplier_id">
      Supplier
    </label>

    <!-- Input for supplier_id start -->
    <input type="text" id="supplier_id" name="supplier_id" class="form-control">
    <!-- Input for supplier_id end -->
  </div>
  <!-- Label and input for supplier_id end -->

  <!-- Label and input for acc_type start -->
  <div class="form-group">
    <label for="acc_type">
      Acc type
    </label>

    <!-- Input for acc_type start -->
    <input type="text" id="acc_type" name="acc_type" class="form-control">
    <!-- Input for acc_type end -->
  </div>
  <!-- Label and input for acc_type end -->

  <button class="btn btn-block btn-outline-secondary">
    Create account
  </button>
</form>

<hr>

<a href="/accounts">
  Go back
</a>
