<h1>
  Edit account history #<%= @account_history.id %>
</h1>

<hr>

<!-- Form account_history start -->
<form action="/update_account_history/<%= @account_history.id %>" method="post">
<!-- Form account_history end -->

  <!-- Label and input for owner_id start -->
  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <!-- Input for owner_id start -->
    <%= select_tag(:owner_id, options_from_collection_for_select(Account.all, :id, :supplier_id, @account_history.owner_id), :class => "form-control") %>
    <!-- Input for owner_id end -->
  </div>
  <!-- Label and input for owner_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update account history
  </button>
</form>

<hr>

<a href="/account_histories">
  Go back
</a>
