<h1>
  Add a new account history
</h1>


<hr>

<form action="/create_account_history" method="post">

  <div class="form-group">
    <label for="owner_id">
      Owner
    </label>

    <%= select_tag(:owner_id, options_from_collection_for_select(Account.all, :id, :supplier_id, @account_history.owner_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create account history
  </button>
</form>

<hr>

<a href="/account_histories">
  Go back
</a>
